

html {
  font-size: 14px;
  font: "Open Sans", sans-serif;
  }


/*.col-md-12,.col-sm-12,.col-sm-4{
  border:1px red solid;
}*/

p {
  font-size: 1.3rem;
  line-height: 2rem;
}



.image-container {
  overflow: hidden;
}

.image-container > img {
  transition: transform 500ms, opacity 500ms;
  opacity: .6;
}

.image-container:hover > img {
  transform: scale(1.3);
  opacity: 1;
}



/* --------------------- Navigation --------------*/
.navbar {
  position:static;
}

.nav li {
  font-size: 1.2rem;
  font-weight: bold;
}


#explore {
  color:#399bd1;
}
/*----------------------------Jumbotron---------------------------*/


.jumbotron-bike {
  background-image: url("../images/jumbotron-bike.jpg");
  background-size: cover;
  /*border:1px red solid;*/
  display:flex;
  flex-direction: column;
  }

.jumbotron-beer {
  background-image: url("../images/jumbotron-beer.jpg");
  background-size: cover;
  /*border:1px red solid;*/
  display:flex;
  flex-direction: column;
  }

  .jumbotron-flowers {
   background-image: url("../images/jumbotron-flowers.jpg");
   background-size: cover;
   /*border:1px red solid;*/
   display:flex;
   flex-direction: column;
  }

  .jumbotron-duffel {
   background-image: url("../images/jumbotron-duffel.jpg");
   background-size: cover;
   /*border:1px red solid;*/
   display:flex;
   flex-direction: column;
    }

#jumbotron-header{
  text-align: center;
  margin-top: 13.85rem;
  font-family: "Monoton",sans-serif;
  color:white;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000;
}

@media only screen and (max-width: 768px){
  #jumbotron-header {
    font-size:5.2rem;
    margin-top: 15.85rem;
  }
}

#jumbotron-text{
  max-width:51.3rem;
  color:white;
  text-align: center;
  text-shadow: -1px -1px 0 #000;
  margin-top: 4.8rem;
  line-height:2.5rem;
  /*border:1px red solid;*/
}

@media only screen and (max-width: 768px){
  #jumbotron-text {
    max-width:35rem;
  }
}

.jumbotron,#jumbotron-text {
  align-items: center;
}

.btn{
  background-color: #399bd1;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  margin-top: 2.8rem;
  margin-bottom: 11.85rem;
  width:11.4rem;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#jump-in {
  color:white;
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0,0,0,0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

/*--------------------------------Featured Project ---------------------*/
.featured-project .image-container {
  height:25rem;

}

  .featured-project .image-container img {
    max-width:100%;
    max-height: auto;
  }

.headline-project{
  font-size: 1.9rem;
  color:#399bd1;
  font-weight: bold;
  margin-bottom: 20px;
/*  border:1px red solid;*/
}

.article-title{
  font-weight: bold;
  font-size: 1.3rem;
  /*border:1px red solid;*/
}

@media only screen and (max-width: 995px){
  .article-title{
    margin-top:2rem;
   }
  }


li {
  line-height: 2rem;
  color: rgba(0,0,0,0.7);
  font-size: 1.3rem;
  /*border:1px red solid;*/
}

#product-categories {
  font-weight: bold;
  color: #399bd1;
  font-size: 1.3rem;
  /*border:1px red solid;*/
}
/*--------------------------------------PROJECTS--------------------------------*/

.projects {
  background-color: white;
/*  border:1px red solid;*/
}

.project-column{
  display: flex;
  flex-direction: column;
}

.project-img img {
  width:100%;
}

.projects-title {
  font-weight: bold;
  font-size: 1.5rem;
  color:#399bd1;
  margin-top:1.5rem;
}

.projects-p {
  margin-bottom: 5.85rem;
}

@media only screen and (max-width: 480px){
  .projects-title {
    margin-top:.8rem;
  }
}

/*-----------------------------------------FOOTER-------------------------------------*/
  #footer {
  background-color: #f3f3f3;
  width:100%;
  padding-bottom:5.2rem;
  /*border:1px red solid;*/
}

.footer-text {
  padding-top: 5.2rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.5rem;
}

#learn {
  color: white;
  padding-left:1rem;
  padding-right: 1rem;
  text-align: center;

}

.container-fluid .btn-xlarge{
  /*outline:1px red solid;*/
  text-align: center;
  align-content: center;
}

.help{
  text-align: center;
}

@media only screen and (max-width: 768px){
  .footer-text{
    font-size: 2rem;
  }
}

/**{
background: #000 !important;
color: #0f0 !important;
outline: solid #f00 1px !important;
}*/
